# Datos de persistencia de Docker (Volúmenes locales)
odoo-web-data/
odoo-db-data/
suitecrm-data/
suitecrm-db-data/
bonita-data/
bonita-db-data/
n8n-data/
smtp4dev-data/
pgadmin-data/

# Archivos de sistema y logs
*.log
.DS_Store
Thumbs.db

# Python bytecode
**/__pycache__/
*.pyc
*.pyo

# Temporales de SuiteCRM si se mapean
suitecrm/SuiteCRM-8.9.1/cache/
suitecrm/SuiteCRM-8.9.1/upload/
